<link
  rel="stylesheet"
  href="https://unpkg.com/swiper/swiper-bundle.min.css"
/>

<style>

  html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

  body {
    display: flex;
    align-items: center;    
    justify-content: center;
  }

  .swiper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;       
    max-width: 800px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
</style>


<div class="swiper">
  <div class="swiper-wrapper">
    <% slides.forEach((slide) => { %>
      <div class="swiper-slide">
        <img src="<%= slide %>" alt="Slide image" />
      </div>
    <% }) %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  new Swiper('.swiper', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>