
<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/login.css"/>

<div class="auth-card">
  <i class="fas fa-sign-in-alt fa-4x"></i>
  <h1>Enter new username</h1>
  <form action="/edit-name" method="POST" class="login-form">
    <div class="form-group">
      <label for="displayName">Username</label>
      <input type="text" id="displayName" name="displayName" required>
      <input type="hidden" name="PreviousName" value="<%=PreviousName%>">
    </div>
    
    <button type="submit" class="btn-login">Change Name</button>
  </form>
</div>

<%- include('partials/footer') %>