
<%- include('partials/header') %>
<link rel="stylesheet" href="/styles/login.css"/>

<div class="auth-card">
  <i class="fas fa-sign-in-alt fa-4x"></i>
  <h1>Enter new password</h1>
  <form action="/edit-password" method="POST" class="login-form">
    <div class="form-group">
      <label for="displayName">Password</label>
      <input type="text" id="displayName" name="displayPassword" required>
      <input type="hidden" name="CurrentName" value="<%=name%>">
    </div>
    
    <button type="submit" class="btn-login">Change Password</button>
  </form>
</div>

<%- include('partials/footer') %>