/* the display of the whole card lesson*/
.lesson-card {
    display: block;       
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.2s;
  }

  .into-lesson-card{
    display:inline-block;
  }
  
  /* make entire card clickable */
  .lesson-card__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 1rem;
    /* border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.2s; */
  }
  .lesson-card__link:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  /* title */
  .lesson-card__title {
    margin: 0;
    font-size: 1.25rem;
  }
  
  /* circular badge */
  .lesson-card__badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin-top: 0.75rem;
    border-radius: 50%;
    background: rgb(131, 58, 224);
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .grid_container{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 1fr;
  }

  .module-menu{
    display:flex;
    flex-direction: column;
    gap:1%;
  }